Source: apt-transport-i2p
Section: devel
Priority: optional
Maintainer: idk <hankhill19580@gmail.com>
Uploaders: idk <hankhill19580@gmail.com>
Build-Depends: debhelper (>= 11),
               dh-golang,
               golang-any,
               golang-github-eyedeekay-gosam-dev
Standards-Version: 4.2.1
Homepage: https://github.com/eyedeekay/apt-transport-i2p
Vcs-Browser: https://github.com/eyedeekay/apt-transport-i2p
Vcs-Git: https://github.com/eyedeekay/apt-transport-i2p.git
XS-Go-Import-Path: github.com/eyedeekay/apt-transport-i2p
Testsuite: autopkgtest-pkg-go

Package: apt-transport-i2p
Architecture: any
Built-Using: ${misc:Built-Using}
Depends: ${misc:Depends},
         ${shlibs:Depends},
         i2p | i2pd
Description: An apt transport method enabling i2p using the SAM bridge.
 i2p transport for apt This is a simple transport for downloading debian
 packages from a repository over i2p. It uses the SAM bridge and is
 pretty much just a modified version of diocles/apt-tranport-http-golang
 (https://github.com/diocles/apt-transport-http-golang), a plain HTTP
 transport for apt, and by modified I mean like, a couple dozen lines. This
 way, it uses an ephemeral destination instead of the HTTP proxy which
 could be associated with your other traffic.
